@page
@model A.C.E.S.Pages.Students.AddModel
@{
    ViewData["Title"] = "Add Student";
}

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Student.Name" class="control-label"></label>
            <input asp-for="Student.Name" class="form-control" />
            <span asp-validation-for="Student.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Student.Email" class="control-label"></label>
            <input asp-for="Student.Email" class="form-control" />
            <span asp-validation-for="Student.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Student.Standing" class="control-label"></label>
            <input asp-for="Student.Standing" class="form-control" />
            <span asp-validation-for="Student.Standing" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
            <input type="button" value="Cancel" />
        </div>
    </form>