@page
@model A.C.E.S.Pages.Students.AddModel
@{
    ViewData["Title"] = "Add Student";
}

<form>
    <input type="text" />
    <input type="email" />
    <input type="submit" value="Add" />
    <input type="button" value="Cancel" />
</form>