@page "/Students/{ID:int}/Edit"
@model A.C.E.S.Pages.Students.EditModel
@{
    ViewData["Title"] = "Edit Student";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="student.Name" class="control-label"></label>
        <input asp-for="student.Name" class="form-control" value="@Model.student.Name" />
        <span asp-validation-for="student.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="student.Email" class="control-label"></label>
        <input asp-for="student.Email" class="form-control" value="@Model.student.Email" />
        <span asp-validation-for="student.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
        <input type="button" value="Cancel" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}