@page "/Students/{ID:int}"
@model A.C.E.S.Pages.Students.StudentModel
@{
    ViewData["Title"] = "Student: " + Model.student.Name;
}

<section id="top-bar">
    <div>
        <input id="filter-course-name" type="text" placeholder="Search Course" onkeyup="LoadList()" />
        <input id="filter-assignment-name" type="text" placeholder="Search Assignment" onkeyup="LoadList()" />
        <select id="filter-course-status" onchange="LoadList()">
            <option>Active</option>
            <option>Archived</option>
        </select>
    </div>
    <div>
        <a href="/Students/@Model.ID/Edit" class="button">+ Edit</a>
    </div>
</section>
<h2>Academic Standing</h2>
@switch (@Model.student.Standing)
{
    case Models.Standing.Good:
        <p><i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i> Good</p>
        break;
    case Models.Standing.Moderate:
        <p><i class="orange-text fas fa-star"></i><i class="orange-text fas fa-star"></i><i class="far fa-star"></i> Moderate</p>
        break;
    case Models.Standing.Bad:
        <p><i class="red-text fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> Bad</p>
        break;
    default:
        <p><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> N/A</p>
        break;
}
<h2>Contact</h2>
<p><i class="far fa-fw fa-envelope"></i> @Model.student.Email</p>
<h2>Sections</h2>