@page "/Students/{ID:int}"
@model A.C.E.S.Pages.Students.StudentModel
@{
    ViewData["Title"] = Model.student.Name;
}

<section class="flex-space margin">
    <div>
        <h3>Contact</h3>
        <p><a href="mailto:@Model.student.Email">@Model.student.Email</a></p>
    </div>
    <div>
        <h3>Academic Standing:</h3>
        <p>Accademic standing should be computed here.</p>
    </div>
    <div>
        <a href="/Students/@Model.student.ID/Edit" class="button">Edit</a>
    </div>
    @*@switch (@Model.student.Standing)
        {
            case Models.Standing.Good:
                <i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i> Good
                break;
            case Models.Standing.Moderate:
                <i class="orange-text fas fa-star"></i><i class="orange-text fas fa-star"></i><i class="far fa-star"></i> Moderate
                break;
            case Models.Standing.Bad:
                <i class="red-text fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> Bad
                break;
            default:
                <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> N/A
                break;
        }*@
</section>

<section class="margin">
    <h2>Recent Submissions</h2>
    @if (Model.student.Submissions.Count == 0)
    {
        <p>There are no assignment submissions for this student.</p>
    }
    @for (int i = 0; i < 5 && i < Model.student.Submissions.Count; i++)
    {
        <p>@Model.student.Submissions[i].Standing</p>
    }
</section>

<section class="margin">
    <h2>Past Submissions</h2>
    @if (Model.student.Submissions.Count == 0)
    {
        <p>There are no assignment submissions for this student.</p>
    }
    @* 
        To Do:
            Display Sections the student has enrolled in as an accordion.
            The accordion content should be the assignments for that section.
            When user clicks on a assignment, it should take the user to the submissions page.
    *@
</section>