@page "/Students"
@model A.C.E.S.Pages.Students.StudentsModel
@{
    ViewData["Title"] = "Students";
}

<section id="top-bar">
    <div>
        <input id="filter-student-name" type="text" placeholder="Search Student" onkeyup="LoadList()" />
        <select id="filter-student-standing" onchange="LoadList()">
            <option>All Standing</option>
            <option>Good Standing</option>
            <option>Moderate Standing</option>
            <option>Bad Standing</option>
        </select>
        <select id="filter-student-status" onchange="LoadList()">
            <option>Active</option>
            <option>Archived</option>
        </select>
    </div>
    <div>
        <a asp-page="Add" class="button">+ Add Student</a>
    </div>
</section>
<section>
    <table id="student-table">
        <colgroup>
            <col />
            <col style="width:45%;" />
            <col style="width:130px;" />
            <col style="width:110px;" />
        </colgroup>
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Standing</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="student-list">
        </tbody>
    </table>
</section>
<aside class="pop-up">
    <h2>Add Student</h2>
    <form action="/Students/Add" method="post">
        <div><label asp-for="Student.Name">Name:</label></div>
        <div><input asp-for="Student.Name" type="text" /></div>
        <div><label asp-for="Student.Email">Email:</label></div>
        <div><input asp-for="Student.Email" type="email" /></div>
        <p>
            <input type="submit" value="Add" />
            <input type="button" value="Cancel" onclick="$('.pop-up').animate({ width: 'toggle' });" />
        </p>
    </form>
</aside>
<script>
    function LoadList() {
        var count = 0;

        var name = document.getElementById('filter-student-name').value;
        var standing = document.getElementById('filter-student-standing').selectedIndex;
        var status = document.getElementById('filter-student-status').value;

        var elem = document.getElementById('student-list');
        elem.innerHTML = "";

        var students = JSON.parse('@Json.Serialize(Model.students)');

        for (var student of students) {
            if (student.archived && status == "Active") continue;
            if (!student.archived && status == "Archived") continue;
            if (!student.name.toLowerCase().includes(name.toLowerCase())) continue;
            if (standing != 0 && student.standing != standing - 1) continue;

            count++;

            var tr = document.createElement("tr");
            tr.innerHTML += '<td><a href="/Students/' + student.id + '">' + student.name + '</a></td>';
            tr.innerHTML += '<td>' + student.email + '</td>';
            switch (student.standing) {
                case 0:
                    tr.innerHTML += '<td><i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i> Good</td>';
                    break;
                case 1:
                    tr.innerHTML += '<td><i class="orange-text fas fa-star"></i><i class="orange-text fas fa-star"></i><i class="far fa-star"></i> Moderate</td>';
                    break;
                case 2:
                    tr.innerHTML += '<td><i class="red-text fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> Bad</td>';
                    break;
                default:
                    tr.innerHTML += '<td><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> N/A</td>';
                    break;
            }
            if (status == "Active")
                tr.innerHTML += '<td><a class="button" onclick="">Archive</a></td>';
            else
                tr.innerHTML += '<td><a class="button" onclick="">Restore</a></td>';
            elem.appendChild(tr);
        }
        if (count == 0) {
            elem.innerHTML += '<tr><td colspan="4"><center>No Result.</center></td></tr>';
        }
    }

    LoadList();
</script>