@page "/Students"
@model A.C.E.S.Pages.Students.StudentsModel
@{
    ViewData["Title"] = "Students";
}

<section id="top-bar">
    <div>
        <input id="filter-student-name" type="text" placeholder="Search Student" onkeyup="LoadList()"/>
        <select id="filter-student-standing" onchange="LoadList()">
            <option>All Standing</option>
            <option>Good Standing</option>
            <option>Moderate Standing</option>
            <option>Bad Standing</option>
        </select>
    </div>
    <div>
        <a class="button" href="./Students/Add">+ Add Student</a>
    </div>
</section>
<section id="active-students">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Standing</td>
            </tr>
        </thead>
        <tbody id="student-list">
        </tbody>
    </table>
</section>
<script>
    function LoadList() {
        var name = document.getElementById('filter-student-name').value;
        var standing = document.getElementById('filter-student-standing').selectedIndex;

        var elem = document.getElementById('student-list');
        elem.innerHTML = "";

        var students = JSON.parse('@Json.Serialize(Model.students)');
        if (students.length == 0) {
            var tr = document.createElement('tr');
            tr.innerHTML('<td colspan="4"><center>No Result.</center></td>');
        }

        for (var student of students) {
            if (student.archived) continue;
            if (!student.name.toLowerCase().includes(name.toLowerCase())) continue;
            if (standing != 0 && student.standing != standing - 1) continue;

            var tr = document.createElement("tr");
            tr.innerHTML += '<td><a href="/Students/' + student.id + '">' + student.name + '</a></td>';
            tr.innerHTML += '<td>' + student.email + '</td>';
            switch (student.standing) {
                case 0:
                    tr.innerHTML += '<td><i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i> Good</td>';
                    break;
                case 1:
                    tr.innerHTML += '<td><i class="orange-text fas fa-star"></i><i class="orange-text fas fa-star"></i><i class="far fa-star"></i> Moderate</td>';
                    break;
                case 2:
                    tr.innerHTML += '<td><i class="red-text fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> Bad</td>';
                    break;
                default:
                    tr.innerHTML += '<td><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> N/A</td>';
                    break;
            }
            elem.appendChild(tr);
        }
    }

    function AddStudent() {
        document.body.innerHTML += '<div id="add-student" class="pop-up"></div>';
        var popup = document.getElementById('add-student');
        var form = document.createElement("form");
        form.innerHTML += '<label>Name <input type="text" /></label>';
        form.innerHTML += '<input type="submit" value="Add" />';
        form.innerHTML += '<input type="button" value="Cancel" />';
        popup.appendChild(form);
    }

    LoadList();
</script>