@page
@model A.C.E.S.Pages.Courses.AddModel
@{
    ViewData["Title"] = "Add Course";
}

<form>
    <label>Name <input type="text" /></label>
    <input type="submit" value="Add" />
    <input type="button" value="Cancel" />
</form>