@page "/Courses"
@model A.C.E.S.Pages.Courses.CoursesModel
@{
    ViewData["Title"] = "Courses";
}


<section id="top-bar">
    <div>
        <input id="filter-course-name" type="text" placeholder="Search Course" onkeyup="LoadList()" />
        <input id="filter-assignment-name" type="text" placeholder="Search Assignment" onkeyup="LoadList()" />
        <select id="filter-course-status" onchange="LoadList()">
            <option>Active</option>
            <option>Archived</option>
        </select>
    </div>
    <div>
        <a class="button" onclick="$('.pop-up').animate({ width: 'toggle' });">+ Add Course</a>
    </div>
</section>
<section id="course-list">
</section>
<aside class="pop-up">
    <h2>Add Course</h2>
    <form action="/Courses/Add">
        <div><label for="name">Name:</label></div>
        <div><input id="name" name="name" type="text" /></div>
        <p>
            <input type="submit" value="Add" />
            <input type="button" value="Cancel" onclick="$('.pop-up').animate({ width: 'toggle' });" />
        </p>
    </form>
</aside>
<script>
    function LoadList() {
        var cname = document.getElementById('filter-course-name').value;
        var aname = document.getElementById('filter-assignment-name').value;
        var status = document.getElementById('filter-course-status').value;

        var elem = document.getElementById('course-list');
        elem.innerHTML = "";

        var courses = JSON.parse('@Json.Serialize(Model.Courses)');
        if (courses.length == 0) {
            elem.innerHTML = '<div>There are no courses.</div>';
        }
        for (var course of courses) {
            if (course.archived && status == "Active") continue;
            if (!course.archived && status == "Archived") continue;
            if (!course.name.toLowerCase().includes(cname.toLowerCase())) continue;

            var accordion = document.createElement('div');
            accordion.classList.add('accordion');
            accordion.innerHTML += `<div class="accordion-header">${course.name}</div>`;

            var content = document.createElement('div');
            content.classList.add('accordion-content');

            for (var assignment of course.assignments) {
                content.innerHTML += `<div><a href="/Courses/${course.id}/Assignments/${assignment.id}">${assignment.name}</a></div>`;
            }
            content.innerHTML += `<div><a href="/Courses/${course.id}/Assignments/Add">Add Assignment</a></div>`;

            accordion.appendChild(content);
            elem.appendChild(accordion);
        }
        $('.accordion-content').hide();
    }

    LoadList();
</script>