@page "/Courses"
@model A.C.E.S.Pages.Courses.CoursesModel
@{
    ViewData["Title"] = "Courses";
}


<section id="top-bar">
    <div>
        <input id="filter-course-name" type="text" placeholder="Search Course" onkeyup="LoadList()" />
        <select id="filter-course-status" onchange="LoadList()">
            <option>Active</option>
            <option>Archived</option>
        </select>
    </div>
    <div>
        <a asp-page="Add" class="button">+ Add Course</a>
    </div>
</section>
<section>
    <table class="table">
        <colgroup>
            <col />
            <col />
            <col />
            <col style="width:110px;" />
        </colgroup>
        <thead>
            <tr>
                <td>Name</td>
                <td># Sections</td>
                <td># Assignments</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="course-list2">
        </tbody>
    </table>
</section>
<section id="course-list">
</section>
<aside class="pop-up">
    <h2>Add Course</h2>
    <form action="/Courses/Add">
        <div><label for="name">Name:</label></div>
        <div><input id="name" name="name" type="text" /></div>
        <p>
            <input type="submit" value="Add" />
            <input type="button" value="Cancel" onclick="$('.pop-up').animate({ width: 'toggle' });" />
        </p>
    </form>
</aside>
<script>
    function LoadList() {
        var count = 0;

        var cname = document.getElementById('filter-course-name').value;
        var status = document.getElementById('filter-course-status').value;

        var elem = document.getElementById('course-list2');
        elem.innerHTML = "";

        var courses = JSON.parse('@Json.Serialize(Model.Courses)');

        for (var course of courses) {
            if (course.archived && status == "Active") continue;
            if (!course.archived && status == "Archived") continue;
            if (!course.name.toLowerCase().includes(cname.toLowerCase())) continue;

            count++;

            var tr = document.createElement("tr");
            tr.innerHTML += '<td><a href="/Courses/' + course.id + '">' + course.name + '</a></td>';
            tr.innerHTML += '<td>' + course.sections.length + '</td>';
            tr.innerHTML += '<td>' + course.assignments.length + '</td>';

            if (status == "Active")
                tr.innerHTML += '<td><a class="button" onclick="">Archive</a></td>';
            else
                tr.innerHTML += '<td><a class="button" onclick="">Restore</a></td>';
            elem.appendChild(tr);
        }
        if (count == 0) {
            elem.innerHTML += '<tr><td colspan="4"><center>No Result.</center></td></tr>';
        }
    }

    LoadList();
</script>