@page "/Courses/{ID:int}"
@model A.C.E.S.Pages.Courses.CourseModel
@{
    ViewData["title"] = Model.Course.Name;
}

    <section id="top-bar">
        <div>
            <input id="filter-assignment-name" type="text" placeholder="Search assignment" onkeyup="LoadList()" />
            <select id="filter-assignment-status" onchange="LoadList()">
                <option>Active</option>
                <option>Archived</option>
            </select>
        </div>
        <div>
            <a href="/Courses/@Model.Course.ID/Edit" class="button">Edit Course</a>
            <a href="/Courses/@Model.Course.ID/Assignments/Add" class="button">Edit Course</a>
        </div>
    </section>
<section>
    <table class="table">
        <colgroup>
            <col />
            <col style="width:130px;" />
        </colgroup>
        <thead>
            <tr>
                <td>Name</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="student-list">
        </tbody>
    </table>
</section>
<script>
    function LoadList() {
        var count = 0;

        var name = document.getElementById('filter-assignment-name').value;
        var status = document.getElementById('filter-assignment-status').value;

        var elem = document.getElementById('student-list');
        elem.innerHTML = "";

        var course = JSON.parse('@Json.Serialize(Model.Course)');

        for (var assignment of course.assignments) {
            if (status == 'Active' && assignment.archived) continue;
            if (status == 'Archived' && !assignment.archived) continue;
            if (!assignment.name.toLowerCase().includes(name.toLowerCase())) continue;

            count++;

            var tr = document.createElement("tr");
            tr.innerHTML += '<td><a href="/Courses/' + course.id + '/Assignments/' + assignment.id + '">' + assignment.name + '</a></td>';
            if (status == "Archived")
                tr.innerHTML += '<td><a class="button" onclick="">Restore</a></td>';
            else
                tr.innerHTML += '<td><a class="button" onclick="">Archive</a></td>';
            elem.appendChild(tr);
        }
        if (count == 0) {
            elem.innerHTML += '<tr><td colspan="4"><center>No Result.</center></td></tr>';
        }
    }

    LoadList();
</script>