@page "/Courses/{ID:int}"
@model A.C.E.S.Pages.Courses.CourseModel
@{
    ViewData["title"] = Model.Course.Name;
}

    <section id="top-bar">
        <div>
            <input id="filter-assignment-name" type="text" placeholder="Search assignment" onkeyup="LoadList()" />
            <select id="filter-assignment-status" onchange="LoadList()">
                <option>Active</option>
                <option>Archived</option>
            </select>
        </div>
        <div>
            <a href="/Courses/@Model.Course.ID/Edit" class="button">Edit Course</a>
        </div>
    </section>
<section>
    <table class="table">
        <colgroup>
            <col style="width:110px;" />
            <col />
            <col style="width:45%;" />
            <col style="width:130px;" />
        </colgroup>
        <thead>
            <tr>
                <td>Name</td>
                <td>Grade</td>
                <td>Standing</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="student-list">
        </tbody>
    </table>
</section>
<script>
    function LoadList() {
        var count = 0;

        var name = document.getElementById('filter-assignment-name').value;
        var status = document.getElementById('filter-assignment-status').value;

        var elem = document.getElementById('student-list');
        elem.innerHTML = "";

        var assignments = JSON.parse('@Json.Serialize(Model.Course.Assignments)');

        for (var assignment of assignments) {
            if (status == 'Active' && assignment.archived) continue;
            if (status == 'Archived' && !assignment.archived) continue;
            if (!assignment.name.toLowerCase().includes(name.toLowerCase())) continue;

            count++;

            var tr = document.createElement("tr");
            if (status == "Enrolled") 
                tr.innerHTML += '<td><a class="button" onclick="">Remove</a></td>';
            else
                tr.innerHTML += '<td><a class="button" onclick="">Enroll</a></td>';
            tr.innerHTML += '<td><a href="/Students/' + student.id + '">' + student.name + '</a></td>';
            tr.innerHTML += '<td>' + student.email + '</td>';
            switch (student.standing) {
                case 0:
                    tr.innerHTML += '<td><i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i> Good</td>';
                    break;
                case 1:
                    tr.innerHTML += '<td><i class="orange-text fas fa-star"></i><i class="orange-text fas fa-star"></i><i class="far fa-star"></i> Moderate</td>';
                    break;
                case 2:
                    tr.innerHTML += '<td><i class="red-text fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> Bad</td>';
                    break;
                default:
                    tr.innerHTML += '<td><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> N/A</td>';
                    break;
            }
            elem.appendChild(tr);
        }
        if (count == 0) {
            elem.innerHTML += '<tr><td colspan="4"><center>No Result.</center></td></tr>';
        }
    }

    LoadList();
</script>