.navbar {
    background-color: #492365 !important;
    color: #fff !important;
}
.nav-link{
    color: white !important;
}
    .nav-link:hover {
        color: aliceblue !important;
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #fff;
}