<header>
    <img src="assets/wsu_stacked.png" alt="Weber State University" width="160">
</header>
<hr>
<a id="profile" href="">
    <img src="assets/bradPeterson.jpg" width="40" height="40">
    <span id="profile-name">
        <div>Brad Peterson</div>
        <div id="profile-title">Instructor</div>
    </span>
</a>
<hr>
<div id="nav-main">
    <a href="?page=overview"><i class="fas fa-fw fa-home"></i> Overview</a>
    <a onclick="coursesNav();"><i class="fas fa-fw fa-book"></i> Courses</a>
    <a onclick="coursesNav();"><i class="fas fa-fw fa-chalkboard-teacher"></i> Sections</a>
    <a onclick="coursesNav();"><i class="fas fa-fw fa-user-graduate"></i> Students</a>
    <a href="#settings"><i class="fas fa-fw fa-cog"></i> Settings</a>
</div>