@charset "utf-8";

*{
    font-family: sans-serif;
    letter-spacing: 1px;
}

a{
    cursor: pointer;
}

html, body{
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
}

#page-nav{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #492365;
    overflow: hidden;
    white-space: nowrap;
}

#page-nav header{ padding: 20px; }

#page-nav hr{
    margin: 0;
    border-color: rgba(0,0,0,.2);
}

#profile{ padding: 10px 0 10px 20px; }

#profile img{ 
    vertical-align: middle;
    border-radius: 100%; 
}

#profile span{ 
    vertical-align: middle;
    display: inline-block; 
}

#profile-title{
    font-size: .8em;
    font-style: italic;
    color: rgba(255,255,255,.8);
}

#page-nav a{
    display: block;
    padding-left: 10px;
    color: #ffffff;
    text-decoration: none;
}

#page-nav a:hover{
    background-color: rgba(255,255,255,.2);
}

#nav-main a{
    line-height: 40px;
}

#page-subnav{
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    background-color: #eeeeee;
    border-right: 1px solid rgba(0,0,0,.2);
    z-index: 3;
    overflow: hidden;
    white-space: nowrap;
}

#close-subnav{
    position: absolute;
    top: 5px;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

#page-subnav h2{
    margin: 0;
    padding: 10px 0 0 10px;
}

#page-subnav hr{
    margin: 10px;
}

#page-subnav a{
    display: block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
}

#page-subnav a:hover{
    background-color: rgba(0,0,0,.1);
}

#content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    padding: 20px 10px;
    /* width: 100%; */
    /* Margin only for Electron. For web browser, remove margin*/
    /* margin-left: -17px; */
    cursor: default;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

#content-header h2{
    margin: 0;
    text-transform: capitalize;
}

#content-header a{
    color: #000000;
    text-decoration: none;
}

/* #page-header section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    /* Padding only for Electron. For web browser, remove padding
    padding-left: 17px;
    border-bottom: 1px solid rgba(0,0,0,.2);
} */

#header-main{ 
    padding: 20px 20px 20px 0;
}

#header-main select{
    padding: 5px;
    background-color: #eeeeee;
    cursor: pointer;
}

#set-term{
    padding: 6px 10px;
    font-weight: bold;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    cursor: pointer;
}

#header-nav a{ 
    display: inline-block;
    padding: 5px 10px; 
    text-decoration: none;
    color: #000000;
}

#header-nav a:hover{
    background-color: rgba(0,0,0,.1);
}

#header-section{ 
    position: relative;
    width: 140px; 
    border-right: 1px solid rgba(0,0,0,.2);
}

#header-section:hover{
    background-color: rgba(0,0,0,.2);
}

#header-section:after{
    position: absolute;
    right: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d7";
}

#page-main{
    margin-left: 200px;
    padding: 0 20px;
    height: 100%;
}

#content-main{
    display: flex;
}

#content-nav{
    width: 140px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
}

#content-section{
    padding: 10px;
}

#content-nav h2{
    margin: 10px 0;
}

#content-nav a{ 
    display: block;
    width: 100%;
    margin-left: -10px;
    padding: 10px; 
    text-decoration: none;
    color: #000000;
}

#content-nav a:hover{
    background-color: rgba(0,0,0,.1);
}

#page-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: -100px 0 0 -150px;
    z-index: 100;
    background-color: #f9f9f9;
    border: 1px solid #000000;
}