<nav id="app-menu">
    <header>
        <img src="assets/wsu_stacked.png" alt="Weber State University" width="160">
    </header>
    <hr>
    <a id="app-user" href="">
        <img src="assets/bradPeterson.jpg" width="40" height="40">
        <div>
            <div>Brad Peterson</div>
            <div id="profile-title">Instructor</div>
        </div>
    </a>
    <hr>
    <a routerLink="/"><i class="fas fa-fw fa-home"></i> Overview</a>
    <a onclick="ToggleCourseMenu();"><i class="fas fa-fw fa-book"></i> Courses</a>
    <a onclick="ToggleSectionMenu();"><i class="fas fa-fw fa-chalkboard-teacher"></i> Sections</a>
    <a routerLink="/students"><i class="fas fa-fw fa-user-graduate"></i> Students</a>
    <a class="disabled"><i class="fas fa-fw fa-cog"></i> Settings</a>
</nav>
<!-- <app-course-menu #submenu></app-course-menu>
<app-section-menu></app-section-menu> -->