@page "/Students/{StudentID:int}/Assignment/{AssignmentID:int}"
@model A.C.E.S.Pages.Submissions.SubmissionsModel
@{
    ViewData["Title"] = $"{Model.Student.Name} {Model.Assignment.Name}";
}


<table class="table">
    <colgroup>
        <col />
        <col style="width:100px;" />
        <col style="width:100px;" />
        <col style="width:100px;" />
    </colgroup>
    <thead>
        <tr>
            <td>Date</td>
            <td>Grade</td>
            <td>Standing</td>
            <td>Download</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Submissions.Count == 0)
        {
            <tr>
                <td colspan="5">There are no submissions for this student and assignment.</td>
            </tr>
        }
        @foreach (var submission in Model.Submissions)
        {
            <tr>
                <td>@submission.DateTime</td>
                <td>@submission.Grade/@Model.Assignment.Grade</td>
                <td>@submission.Standing</td>
                <td class="table-button"><a><i class="fas fa-cloud-download-alt"></i></a></td>
            </tr>
        }
    </tbody>
</table>