@page
@model A.C.E.S.Pages.Sections.AddModel
@{
    ViewData["Title"] = "Add Section";
}

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Section.Name" class="control-label"></label>
            <input asp-for="Section.Name" class="form-control" />
            <span asp-validation-for="Section.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Section.Students" class="control-label"></label>
            <input asp-for="Section.Students" class="form-control" />
            <span asp-validation-for="Section.Students" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
            <input type="button" value="Cancel" />
        </div>
    </form>