@page "/Sections/{ID:int}/Edit"
@model A.C.E.S.Pages.Sections.EditModel
@{
    ViewData["Title"] = "Edit Section";
}

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Section.Name" class="control-label"></label>
            <input asp-for="Section.Name" class="form-control" value="@Model.Section.Name" />
            <span asp-validation-for="Section.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Section.Semester" class="control-label"></label>
            <input asp-for="Section.Semester" class="form-control" value="@Model.Section.Semester" />
            <span asp-validation-for="Section.Semester" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Section.Year" class="control-label"></label>
            <input asp-for="Section.Year" class="form-control" value="@Model.Section.Year" />
            <span asp-validation-for="Section.Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Section.Length" class="control-label"></label>
            <input asp-for="Section.Length" class="form-control" value="@Model.Section.Length" />
            <span asp-validation-for="Section.Length" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
            <input type="button" value="Cancel" />
        </div>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}