@page "/Sections/{ID:int}"
@model A.C.E.S.Pages.Sections.SectionModel
@{
    ViewData["title"] = Model.section.Name + " " + Model.section.Course.Name;
}

    <section id="top-bar">
        <div>
            <input id="filter-student-name" type="text" placeholder="Search Student" onkeyup="LoadList()" />
            <select id="filter-student-standing" onchange="LoadList()">
                <option>All Standing</option>
                <option>Good Standing</option>
                <option>Moderate Standing</option>
                <option>Bad Standing</option>
            </select>
            <select id="filter-student-status" onchange="LoadList()">
                <option>Enrolled</option>
                <option>Not Enrolled</option>
            </select>
        </div>
        <div>
            <a href="/Sections/@Model.section.ID/Edit" class="button">Edit Section</a>
        </div>
    </section>
<section>
    <table class="table">
        <colgroup>
            <col style="width:110px;" />
            <col />
            <col style="width:45%;" />
            <col style="width:130px;" />
        </colgroup>
        <thead>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Email</td>
                <td>Standing</td>
            </tr>
        </thead>
        <tbody id="student-list">
        </tbody>
    </table>
</section>
<script>
    function LoadList() {
        var count = 0;

        var name = document.getElementById('filter-student-name').value;
        var standing = document.getElementById('filter-student-standing').selectedIndex;
        var status = document.getElementById('filter-student-status').value;

        var elem = document.getElementById('student-list');
        elem.innerHTML = "";

        var section = JSON.parse('@Json.Serialize(Model.section)');
        var students = JSON.parse('@Json.Serialize(Model.students)');

        for (var student of students) {
            if (student.archived) continue;
            var filter = false;
            for (var s of section.students) {
                if (
                    (status == "Enrolled" && s.id != student.id) ||
                    (status == "Not Enrolled" && s.id == student.id)
                ) {
                    filter = true;
                    break;
                }
            }
            if (status == "Enrolled" && section.students.length == 0) continue;
            if (filter) continue;
            if (!student.name.toLowerCase().includes(name.toLowerCase())) continue;
            if (standing != 0 && student.standing != standing - 1) continue;

            count++;

            var tr = document.createElement("tr");
            if (status == "Enrolled") 
                tr.innerHTML += '<td><a class="button" onclick="">Remove</a></td>';
            else
                tr.innerHTML += '<td><a class="button" onclick="">Enroll</a></td>';
            tr.innerHTML += '<td><a href="/Students/' + student.id + '">' + student.name + '</a></td>';
            tr.innerHTML += '<td>' + student.email + '</td>';
            switch (student.standing) {
                case 0:
                    tr.innerHTML += '<td><i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i><i class="green-text fas fa-star"></i> Good</td>';
                    break;
                case 1:
                    tr.innerHTML += '<td><i class="orange-text fas fa-star"></i><i class="orange-text fas fa-star"></i><i class="far fa-star"></i> Moderate</td>';
                    break;
                case 2:
                    tr.innerHTML += '<td><i class="red-text fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> Bad</td>';
                    break;
                default:
                    tr.innerHTML += '<td><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> N/A</td>';
                    break;
            }
            elem.appendChild(tr);
        }
        if (count == 0) {
            elem.innerHTML += '<tr><td colspan="4"><center>No Result.</center></td></tr>';
        }
    }

    LoadList();
</script>