@page "/Sections"
@model A.C.E.S.Pages.Sections.SectionsModel
@{
    ViewData["Title"] = "Sections";
}

<section id="top-bar">
    <div>
        <input id="filter-section-name" type="text" placeholder="Search Section" onkeyup="LoadList()" />
        <select id="filter-section-status" onchange="LoadList()">
            <option>Active</option>
            <option>Archived</option>
        </select>
    </div>
    <div>
        <a asp-page="Add" class="button">+ Add Section</a>
    </div>
</section>
<section>
    <table class="table">
        <colgroup>
            <col />
            <col />
            <col style="width:200px;" />
            <col style="width:110px;" />
        </colgroup>
        <thead>
            <tr>
                <td>Name</td>
                <td>Course</td>
                <td>Semester</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="section-list">
        </tbody>
    </table>
</section>
<section id="course-list">
</section>
<aside id="add-course" class="pop-up">
    <h2>Add Section</h2>
    <form action="/Sections/Add">
        <div><label for="name">Name:</label></div>
        <div><input id="name" name="name" type="text" /></div>
        <div><label>Term</label></div>
        <div>
            <select>
                <option>Spring</option>
                <option>Summer</option>
                <option>Fall</option>
            </select>
            <select>
                <option>Full</option>
                <option>1<sup>st</sup> Block</option>
                <option>2<sup>nd</sup> Block</option>
            </select>
            <select>
                @for (int i = 0; i < 3; i++)
                {
                    <option>@(DateTime.Now.Year + i)</option>
                }
            </select>
        </div>
        <p>
            <input type="submit" value="Add" />
            <input type="button" value="Cancel" onclick="$('#add-course').animate({ width: 'toggle' });" />
        </p>
    </form>
</aside>
<aside id="add-student" class="pop-up"></aside>
<script>
    sections = JSON.parse('@Json.Serialize(Model.Sections)');

    function LoadList() {
        var count = 0;

        var name = document.getElementById('filter-section-name').value;
        var status = document.getElementById('filter-section-status').value;

        var elem = document.getElementById('section-list');
        elem.innerHTML = "";

        for (var section of sections) {
            if (section.archived && status == "Active") continue;
            if (!section.archived && status == "Archived") continue;
            if (!section.name.toLowerCase().includes(name.toLowerCase())) continue;

            count++;

            var tr = document.createElement("tr");
            tr.innerHTML += '<td><a href="/Sections/' + section.id + '">' + section.name + '</a></td>';
            tr.innerHTML += '<td>' + section.course.name + '</td>';
            tr.innerHTML += `<td>${section.semester} ${section.year}</td>`;

            if (status == "Active")
                tr.innerHTML += '<td><a class="button" onclick="">Archive</a></td>';
            else
                tr.innerHTML += '<td><a class="button" onclick="">Restore</a></td>';
            elem.appendChild(tr);
        }
        if (count == 0) {
            elem.innerHTML += '<tr><td colspan="4"><center>No Result.</center></td></tr>';
        }
    }

    LoadList();
</script>