@page
@model A.C.E.S.Pages.Courses.AddModel
@{
    ViewData["Title"] = "Add Course";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Course.CourseName" class="control-label"></label>
        <input asp-for="Course.CourseName" class="form-control" />
        <span asp-validation-for="Course.CourseName" class="text-danger"></span>
    </div>
    @*<div class="form-group">
        <label asp-for="Course.Assignments" class="control-label"></label>
        <input asp-for="Course.Assignments" class="form-control" />
        <span asp-validation-for="Course.Assignments" class="text-danger"></span>
    </div>*@
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
        <input type="button" value="Cancel" asp-page="Courses" />
    </div>
</form>