@page "/Courses/{ID:int}/Edit"
@model A.C.E.S.Pages.Courses.EditModel
@{
    ViewData["Title"] = "Edit Course";
}

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Course.CourseName" class="control-label"></label>
            <input asp-for="Course.CourseName" class="form-control" value="@Model.Course.CourseName" />
            <span asp-validation-for="Course.CourseName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <input type="button" value="Cancel" />
        </div>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}