@page "/Courses/{Course:int}/Assignments/Add"
@model A.C.E.S.Pages.Assignments.AddModel
@{
    ViewData["Title"] = $"Add Assignment";
}

<form>
    <label>Name <input type="text" /></label>
    <label>Repository URL <input type="text" /></label>
    <label>Assignment Code <input type="text" /></label>
    <label>Course ID <input type="number" /></label>
    <input type="submit" value="Add" />
    <input type="button" value="Cancel" />
</form>

