@page "/Assignments/{ID:int}"
@model A.C.E.S.Pages.Courses.Assignments.AssignmentModel
@{
    ViewData["Title"] = Model.Assignment.Name;
}

<!--Need to add proper edit page for assignment-->
    <form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Assignment.Name" class="control-label"></label>
            <input asp-for="Assignment.Name" class="form-control" value="@Model.Assignment.Name" />
            <span asp-validation-for="Assignment.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Assignment.Grade" class="control-label"></label>
            <input asp-for="Assignment.Grade" class="form-control" value="@Model.Assignment.Grade" />
            <span asp-validation-for="Assignment.Grade" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Assignment.Files" class="control-label"></label>
            <input asp-for="Assignment.Files" type="file" class="form-control" value="@Model.Assignment.Files" multiple />
            <span asp-validation-for="Assignment.Files" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Assignment.UnitTesters" class="control-label"></label>
            <input asp-for="Assignment.UnitTesters" type="file" class="form-control" value="@Model.Assignment.UnitTesters" multiple />
            <span asp-validation-for="Assignment.UnitTesters" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" />
            <input type="button" value="Cancel" />
        </div>
    </form>
