#app-section-menu{
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    background-color: #eeeeee;
    border-right: 1px solid rgba(0,0,0,.2);
    z-index: 3;
    overflow: hidden;
    white-space: nowrap;
}

#app-section-menu h2{
    margin: 0;
    padding: 10px 0 0 10px;
}

#app-section-menu hr{
    margin: 10px;
}

#app-section-menu a{
    display: block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
}

#app-section-menu a:hover{
    background-color: rgba(0,0,0,.1);
}

#close-subnav{
    position: absolute;
    top: 5px;
    right: 0;
    padding: 10px;
    cursor: pointer;
}