/***************************************/
/* Global                              */
/***************************************/
    * {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        letter-spacing: 1px;
    }

    html, body {
        position: relative;
        height: 100%;
        margin: 0;
    }

    a {
        cursor: pointer;
        color: #0080CC;
        text-decoration: none;
    }

    article {
        padding: 10px;
    }

    table{
        width: 100%;
        border-collapse: collapse;
    }

    tbody tr {
        border-top: 1px solid rgba(0,0,0,.4);
        border-bottom: 1px solid rgba(0,0,0,.4);
    }

    tbody tr:nth-child(2n+1){
        background-color: #ffffff;
    }

    td{
        padding: 10px;
    }

    label{
        display: block;
        margin: 10px 0;
    }

    .table-archive{
        width: 20px;
    }

    .archive-button{
        text-align: center;
    }

    .archive-button a {
        color: #cc0000;
    }

    .grey-text{ color: #aaaaaa; }
    .red-text{ color: #ff0000; }
    .orange-text{ color: #ff9900; }
    .yellow-text{ color: #ffff00; }
    .green-text { color: #00aa00; }
    .bold-text{ font-weight: bold; }
    .align-right{ text-align: right; }

    .flex-space {
        display: flex;
        justify-content: space-between;
    }

    .accordion{
        box-shadow: 2px 2px 2px rgba(0,0,0,.2);
        margin-bottom: 10px;
    }

    .accordion-header{
        position: relative;
        padding: 10px;
        background-color: #cfcfcf;
        cursor: pointer;
    }

    .accordion-header:after {
        position: absolute;
        right: 10px;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        content: "\f078";
        -moz-transition: transform .5s;
        -webkit-transition: transform .5s;
        transition: transform .5s;
        transform: rotate(0deg);
    }

    .accordion-header.expanded:after {
        -moz-transition: transform .5s;
        -webkit-transition: transform .5s;
        transition: transform .5s;
        transform: rotate(-180deg);
    }

    .accordion-content{
        padding: 5px 10px;
        background-color: #dfdfdf;
        line-height: 2em;
    }

    .hide{
        display: none;
    }

    .button {
        display: inline-block;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        background-color: #492365;
        cursor: pointer;
    }

    .pop-up{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 300px;
        padding: 10px;
        background-color: #ffffff;
        box-shadow: -2px 0 2px rgba(0,0,0,.2);
        white-space: nowrap;
    }

    .pop-up input[type=text], .pop-up input[type=email] {
        width: 100%;
    }

    .canvas-wrapper{
        width: 400px;
        height: 400px;
    }

/***************************************/
/* Header                              */
/***************************************/
    #app-main {
        padding: 0 10px 0 210px;
    }

    #app-content{
        max-width: 800px;
    }

    #app-menu {
        position: fixed;
        width: 200px;
        height: 100%;
        background-color: #492365;
        overflow: hidden;
        white-space: nowrap;
    }

    #app-menu header {
        padding: 20px;
    }

    #app-menu hr {
        margin: 0;
        border-color: rgba(0,0,0,.2);
    }

    #app-menu a {
        display: block;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
    }

    #app-menu a.disabled {
        color: #aaaaaa;
        cursor: not-allowed;
    }

    #app-menu a:hover {
        background-color: rgba(255,255,255,.2);
    }

    #app-menu #app-user {
        display: flex;
        align-items: center;
    }

    #app-menu #app-user img {
        margin-right: 10px;
        border-radius: 100%;
    }

/***************************************/
/* Header                              */
/***************************************/
    #app-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        cursor: default;
        border-bottom: 1px solid rgba(0,0,0,.2);
    }

    #app-header h2 {
        margin: 0;
        text-transform: capitalize;
    }

    #app-header a {
        color: #000000;
        text-decoration: none;
    }

    #header-main {
        padding: 20px 20px 20px 0;
    }

    #header-main select {
        padding: 5px;
        background-color: #eeeeee;
        cursor: pointer;
    }

/***************************************/
/* Nav                                 */
/***************************************/
    #app-nav {
        position: fixed;
        width: 200px;
        height: 100%;
        background-color: #492365;
        overflow: hidden;
        white-space: nowrap;
    }

    #app-nav header {
        padding: 20px;
    }

    #app-nav hr {
        margin: 0;
        border-color: rgba(0,0,0,.2);
    }

    #app-nav a {
        display: block;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
    }

    #app-nav a:hover {
        background-color: rgba(0,0,0,.2);
    }

    #app-nav a.selected {
        color: #492365;
        background-color: #ffffff;
    }

    #app-nav a.selected:hover {
        background-color: #ffffff;
    }

    #app-nav #app-user {
        display: flex;
        align-items: center;
    }

    #app-nav #app-user img {
        margin-right: 10px;
        border-radius: 100%;
    }

#profile-title {
    font-size: .8em;
    font-style: italic;
    color: rgba(255,255,255,.8);
}

/***************************************/
/* Page                                */
/***************************************/
    #page-nav{
        position: absolute;
        width: 200px;
    }

    #page-nav a {
        display: block;
        padding: 10px 5px;
        color: #0080CC;
        text-decoration: none;
    }

    #page-nav a.selected{
        padding: 10px 5px 10px 3px;
        border-left: 2px solid #333333;
        background-color: #eeeeee;
        color: #000000;
    }

    #page-nav a:hover{
        text-decoration: underline;
    }

    .page-content{
        margin-left: 210px;
    }

    #top-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        font-size: 14px;
    }

    #top-bar input, #top-bar select {
        width: 200px;
        padding: 8px;
        font-size: 14px;
    }